@media screen and (max-width: 980px){
    body {
        background-size: cover;
    }
    header h1 {
        text-align: center;
        width: 100%;
    }
    header h1 a {
        display: block;
    }
    header h1 img {
        padding: 0px;
        margin: auto;
        display: block;
    }
    header h1 span {
        margin: 0;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 !important;
        margin-bottom: 45px;

    }
    header nav ul li {
        width: 100% !important;
        margin-bottom: 15px;
    }
    body #wrapper > section{
        width: 100%;
    }
    body #wrapper > section article h1 {
        text-align: left;
    }
    body #wrapper > aside {
        width: 100%;
    }
    body #wrapper > aside div {
        width: 49.5%;
    }
}
@media screen and (max-width: 480px) {
    body #wrapper > aside div {
        width: 100%;
    }
}